/* Navbar.module.css */
.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}
.navbarStyle {
}

.centerSectionStyle {
  font-size: 16px;
  font-weight: bold;
  color: #5d78ff;
  margin-left: 18rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.dateSeparator {
  color: #ccc;
  font-weight: normal;
  margin: 0 0.5rem;
}

.buttonStyle {
  background-color: #5d78ff;
  color: #fff;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.buttonStyle :hover{
  background-color: #5d78ff;
  color: #fff;
  cursor: pointer;
}