
 .logo{
    padding: 10px 23px;
 }
.menuItem{
    padding: 10px 23px;
    border-radius: 10px;
}
.menuItem a {
    text-decoration: none;  
    color: inherit;         
  }
  
  .menuItem:hover {
    background-color: #f8f9fa;
    color: #333;
  }

